<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>160406470303-pdlk3bfo0sdjam092fdfchivdtbijci4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.160406470303-pdlk3bfo0sdjam092fdfchivdtbijci4</string>
	<key>API_KEY</key>
	<string>AIzaSyA3qFWANUfcx94EGoGF9oEhr8D8wiRWALQ</string>
	<key>GCM_SENDER_ID</key>
	<string>160406470303</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>group7.Essidy-App</string>
	<key>PROJECT_ID</key>
	<string>essidy-4th-chance</string>
	<key>STORAGE_BUCKET</key>
	<string>essidy-4th-chance.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:160406470303:ios:bf50c86fca1dc631166caa</string>
</dict>
</plist>